</h1> CONTACT FORM </h1> 

<form method="POST" action="/contacts"> 
    <div> 
        <label>NAME</label>
        <input type="text" name="name"/>
    </div> 
    <div> 
        <label> EMAIL </label>
        <input type="email" name="email"/>
    </div>

    <div> 
        <label> ENQUIRY </label>
        <textarea type="text"></textarea>
    </div>
    
    <div>
        <input type="submit" value="Send Form"/> 
    </div> 
</form>